<div class="row parent">
  <ng-container [formGroup]="addUserForm">
    <div class="container mt-2">
      <div class="row">
        <div *ngIf="_config.data">
          <h3 class="text-center">{{ "userInfo" | translate }}</h3>
        </div>

        <!-- Name -->
        <div class="col-md-6">
          <label class="fw-bold labels" for="name"
            >{{ "name" | translate }}<span class="text-danger">*</span></label
          >
          <input
            pInputText
            type="text"
            id="name"
            formControlName="name"
            required
          />
          <div
            class="text-danger"
            *ngIf="
              addUserForm.get('name')?.hasError('required') &&
              addUserForm.get('name')?.touched
            "
          >
            {{ "name" | translate }} {{ "isRequired" | translate }}
          </div>
        </div>

        <!-- Username -->
        <div class="col-md-6">
          <label class="fw-bold labels" for="username">{{
            "username" | translate
          }}</label>
          <input
            pInputText
            type="text"
            id="username"
            formControlName="username"
          />
        </div>

        <!-- Email -->
        <div class="col-md-6">
          <label class="fw-bold labels" for="email"
            >{{ "mail" | translate }}<span class="text-danger">*</span></label
          >
          <input
            pInputText
            type="email"
            id="email"
            formControlName="email"
            required
          />
          <div
            class="text-danger"
            *ngIf="
              addUserForm.get('email')?.hasError('required') &&
              addUserForm.get('email')?.touched
            "
          >
            {{ "mail" | translate }} {{ "isRequired" | translate }}
          </div>
          <div
            class="text-danger"
            *ngIf="
              addUserForm.get('email')?.hasError('email') &&
              addUserForm.get('email')?.touched
            "
          >
            {{ "Invalid" | translate }}
          </div>
        </div>

        <!-- Address -->
        <div class="col-md-6">
          <div formGroupName="address">
            <label class="fw-bold labels" for="street">{{
              "street" | translate
            }}</label>
            <input
              pInputText
              type="text"
              id="street"
              formControlName="street"
            />
          </div>
        </div>

        <!-- Phone -->
        <div class="col-md-6">
          <label class="fw-bold labels" for="phone"
            >{{ "phone" | translate }}<span class="text-danger">*</span></label
          >
          <input
            pInputText
            type="text"
            id="phone"
            formControlName="phone"
            required
          />
          <div
            class="text-danger"
            *ngIf="
              addUserForm.get('phone')?.hasError('required') &&
              addUserForm.get('phone')?.touched
            "
          >
            {{ "phone" | translate }} {{ "isRequired" | translate }}
          </div>
        </div>

        <!-- Website -->
        <div class="col-md-6">
          <label class="fw-bold labels" for="website"
            >{{ "website" | translate
            }}<span class="text-danger">*</span></label
          >
          <input
            pInputText
            type="text"
            id="website"
            formControlName="website"
            required
          />
          <div
            class="text-danger"
            *ngIf="
              addUserForm.get('website')?.hasError('required') &&
              addUserForm.get('website')?.touched
            "
          >
            {{ "website" | translate }} {{ "isRequired" | translate }}
          </div>
        </div>

        <!-- Company -->
        <div class="col-md-6">
          <div formGroupName="company">
            <label class="fw-bold labels" for="companyName">{{
              "companyName" | translate
            }}</label>
            <input
              pInputText
              type="text"
              id="companyName"
              formControlName="name"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!--  -->
<div
  class="d-flex d-flex justify-content-center align-items-center mt-3"
  *ngIf="!_config?.data?.text"
>
  <button
    class="btn btn-primary"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!addUserForm.valid"
  >
    {{ "submit" | translate }}
  </button>
</div>
