<div class="contTerms d-flex justify-content-center">
  <p class="terms">{{'privacy_policy' | translate}}</p>
</div>

<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'collectDataHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'collectData' | translate}}
  </p>

</div>
<!--  -->

<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'useDataHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'useData' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'protectHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'protect' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'shareInfoHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'shareInfo' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'likeForInfoHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'likeForInfo' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'rightForEmployeesHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'rightForEmployees' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'updatesHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'updates' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'contactWithThemHead' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'contactWithThem' | translate}}
  </p>

</div>
<!--  -->
