.cont{
  width: 895px;
    height: 160.11px;
    top: 173px;
    left: 104px;
    position: absolute;
}

.design {
  width: 198px !important;
  height: 22px !important;
  top: 173px !important;
  left: 105px !important;
  font-family: Montserrat !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  letter-spacing: 0.005em !important;
  text-align: left !important;
  color: #8692A6 !important;


}
.lor {
font-family: Montserrat;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0.005em;
text-align: left;
width: 894.86px;
}
