<div class="row justify-content-center p-4 parent">
  <div class="col-md-10 row">
    <div
      class="search mt-3 d-flex justify-content-center align-items-center gap-4"
    >
      <ng-container [formGroup]="serachForm">
        <input
          type="text"
          pInputText
          placeholder="Filter With Skills"
          formControlName="skills"
        />
        <input
          type="text"
          pInputText
          placeholder="Filter With Performance"
          formControlName="performance"
        />
        <button type="button" class="btn btn-outline-primary" (click)="onFilter()">Filter</button>
      </ng-container>
    </div>
    <p-table
      [value]="employeesList$ | async"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      class="bordered-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Current Department</th>
          <th>Skills</th>
          <th>Performance</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr>
          <td>{{ employee.name }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.skills }}</td>
          <td>{{ employee.performance }}</td>
          <td>
            <button type="button" class="btn btn-light" (click)="onRelocation(employee)">Relocate</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--  -->
</div>
{{errorMessage ? errorMessage : ''}}
