<!--  -->
<div class="infoContc row" id="global" style="overflow-x: hidden !important">
  <img src="assets/images/Hero bg.png" class="imgCont" alt="" />
  <img src="assets/images/Group.png" alt="Image 2" class="top-image" />

  <div class="centered">{{ "charge" | translate }}</div>
  <div class="centered2">
    {{ "partner" | translate }}
  </div>
  <div class="centered3 gap-2 d-none d-sm-none d-lg-flex">
    <div class="connectButtonCont">
      <button
        class="connectButton"
        (click)="scrollToPage('contact', 'contacts')"
      >
        {{ "contact" | translate }}
      </button>
    </div>
    <div class="">

      <a href="https://sys.talata-eg.com/client/login.aspx">
        <button
        class="sendButton"

      >
      {{ "SendShipment" | translate }}
    </button>
      </a>

    </div>
  </div>
  <div class="centered3 gap-2 d-block d-sm-none">
    <div class="sendButtonCont">

      <a href="https://sys.talata-eg.com/client/login.aspx">
        <button
        class="sendButton"

      >
      {{ "SendShipment" | translate }}
    </button>
      </a>

    </div>
    <div class="">
      <button
        class="connectButton"
        (click)="scrollToPage('contact', 'contacts')"
      >
        {{ "contact" | translate }}
      </button>
    </div>
  </div>
</div>
<!--  -->
<div class="whyUs" style="overflow-x: hidden !important">
  <p
    class="usHeader"
    id="us"
    [ngStyle]="{ direction: currentLang == 'en' ? 'rtr' : 'ltr' }"
  >
    {{ "whyTalata" | translate }}
  </p>
  <div class="usImgsContainer row justify-content-center">
    <div class="col-12 row justify-content-center" style="width: 90%">
      <div class="parent col-md-4 justify-content-center">
        <img src="assets/images/flexable.png" alt="" class="globalStyles" />
        <div style="width: 94%">
          <p class="usTexts">{{ "solveProblem" | translate }}</p>

          <p
            class="usSubTexts"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
          >
            {{ "solveProblemInfo" | translate }}
          </p>
        </div>
      </div>
      <div class="parent col-md-4 justify-content-center">
        <img src="assets/images/quality.png" alt="" class="globalStyles" />

        <div style="width: 94%">
          <p class="usTexts">{{ "quality" | translate }}</p>
          <p
            class="usSubTexts"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
          >
            {{ "safe" | translate }}
          </p>
        </div>
      </div>
      <div class="parent col-md-4 justify-content-center">
        <img src="assets/images/expert (1).png" alt="" class="globalStyles" />
        <div style="width: 94%">
          <p class="usTexts">{{ "expertTeam" | translate }}</p>
          <p
            class="usSubTexts"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
          >
            {{ "expertInfo" | translate }}
          </p>
        </div>
      </div>
      <div class="parent col-md-4 justify-content-center">
        <img src="assets/images/support.png" alt="" class="globalStyles" />
        <div style="width: 94%">
          <p class="usTexts">{{ "customerService" | translate }}</p>
          <p
            class="usSubTexts"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
          >
            {{ "customerServiceInfo" | translate }}
          </p>
        </div>
      </div>
      <div class="parent col-md-4 justify-content-center">
        <img src="assets/images/fast.png" alt="" class="globalStyles" />
        <div style="width: 94%">
          <p class="usTexts">{{ "speed" | translate }}</p>
          <p
            class="usSubTexts"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
          >
            {{ "speedInfo" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->
<div
  class="benifits"
  id="advantages"
  style="overflow-x: hidden !important; overflow-y: hidden !important"
>
  <p class="benefitP">{{ "Benefits" | translate }}</p>
  <div class="row justify-content-center align-items-center benCont">
    <div class="col-md-6">
      <img src="assets/images/suppluchain.png" class="img-fluid" alt="" />
    </div>

    <div class="col-md-6">
      <div class="formMainTexts">
        <p
          class="advText"
          [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
        >
          {{ "stream" | translate }}
        </p>
        <p
          class="secondAdvText"
          [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'start' : 'end' }"
        >
          {{ "streamInfo" | translate }}
        </p>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center" *ngIf="!smallScreen">
      <div style="width: 78%">
        <!-- Adjust width as needed -->
        <p
          class="advText"
          [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
        >
          {{ "gift" | translate }}
        </p>
        <div class="secbenCont d-flex justify-content-center">
          <p
            class="secondAdvText"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'start' : 'end' }"
          >
            {{ "giftInfo" | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img
        src="assets/images/Gemini_Generated_Image-removebg-preview 1.png"
        class="img-fluid"
        alt=""
      />
    </div>
    <div class="col-md-6 d-flex justify-content-center" *ngIf="smallScreen">
      <div style="width: 100%">
        <!-- Adjust width as needed -->
        <p
          class="advText"
          [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
        >
          {{ "gift" | translate }}
        </p>
        <div class="secbenCont d-flex justify-content-center">
          <p
            class="secondAdvText"
            [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'start' : 'end' }"
          >
            {{ "giftInfo" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center benefitCont2 gap-2">

    <a href="https://sys.talata-eg.com/client/login.aspx">
      <button
      class="sendButtonBen"

    >
    {{ "SendShipment" | translate }}
  </button>
    </a>

    <button
      class="connectButtonSpecial"
      (click)="scrollToPage('contact', 'contacts')"
    >
      {{ "contact" | translate }}
    </button>
  </div>
</div>
<!--  -->
<div
  class="aboutCompany"
  id="aboutCompany"
  style="overflow-x: hidden !important"
>
  <img src="assets/images/about.png" class="w-100 main" alt="" />
  <p class="centeredAboutCompany">{{ "aboutUs" | translate }}</p>

  <div style="width: 712px; margin-top: 40px abouts">
    <div class="my-3">
      <p
        class="centeredAboutCompany2"
        [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
      >
        {{ "aboutUsFirst" | translate }}
      </p>
    </div>
    <div class="my-3">
      <p
        class="centeredAbout"
        [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
      >
        {{ "aboutUsSecond" | translate }}
      </p>
    </div>
  </div>
</div>
<!--  -->
<div class="ourGorls" style="overflow-x: hidden !important">
  <p class="gloadP" id="goals">{{ "goals" | translate }}</p>
  <div class="goalsContainer row justify-content-start">
    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "qualityFirstHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">{{ "qualityFirst" | translate }}</p>
      </div>
    </div>
    <!--  -->
    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "growHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">
          {{ "grow" | translate }}
        </p>
      </div>
    </div>
    <!--  -->
    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "adaptHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">{{ "growTogether" | translate }}</p>
      </div>
    </div>
    <!--  -->
    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "adaptHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">
          {{ "adapt" | translate }}
        </p>
      </div>
    </div>
    <!--  -->
    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "trustHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">
          {{ "trust" | translate }}
        </p>
      </div>
    </div>
    <!--  -->

    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "solutionsHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">{{ "solutions" | translate }}</p>
      </div>
    </div>
    <!--  -->
    <div class="col-md-6" *ngIf="currentLang == 'en'"></div>
    <div
      class="col-md-6 gloalsTexts"
      style="height: 57px; text-align: right; margin-bottom: 73px"
      [ngStyle]="{ 'text-align': currentLang == 'ar' ? 'left' : 'right' }"
    >
      <div
        class="d-flex align-items-center gap-2"
        [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
      >
        <img class="vector" src="assets/images/Vector (1).png" alt="" />

        <p class="goalsItems">{{ "reachMoreHead" | translate }}</p>
      </div>
      <div>
        <p class="goalsTexts">{{ "reachMore" | translate }}</p>
      </div>
    </div>
    <!--  -->
  </div>
</div>

<div id="areas" style="padding: 0 20px" style="overflow-x: hidden !important">
  <p class="serviceP">{{ "places" | translate }}</p>

  <div
    class="areasContainer"
    [ngStyle]="{ direction: currentLang == 'en' ? 'rtl' : 'ltr' }"
  >
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "al_rehab" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "giza" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "qalyubia" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "sheikh_zayed" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "al_obour" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "cairo" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "al_shorouk" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "fifth_settlement" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "eastern_province" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "new_cairo" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->

    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "sixth_of_october_city" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "suez" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "madinet_nasr" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "badr" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">
        {{ "new_administrative_capital" | translate }}
      </p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
    <div class="d-flex align-items-center textsCont">
      <p class="areasText">{{ "other_areas" | translate }}</p>
      <img src="assets/images/basil_map-location-solid.png" alt="" />
    </div>
    <!--  -->
  </div>

  <img
    src="assets/images/service-map.png"
    class="img-fluid mt-4 w-100"
    alt=""
    [ngStyle]="{ padding: !smallScreen ? '0 30px' : '0px' }"
  />
</div>

<div class="contact" id="contact" style="overflow-x: hidden !important">
  <p class="sendText">{{ "contact" | translate }}</p>

  <!--  -->
  <div class="row mt-4 justify-content-center" *ngIf="currentLang == 'en'">
    <div class="col-12 row justify-content-center" style="width: 95%">
      <div class="col-md-4 my-2">
        <div
          class="contactDiv d-flex justify-content-center align-items-center gap-2"
          (mouseenter)="showHead = true"
          (mouseleave)="showHead = false"
        >
          <p class="contactText" [ngStyle]="{ 'text-align': 'end' }">
            +2 0111 0222 620 / 0222664199
          </p>
          <img
            src="assets/images/Vectorr.png"
            alt=""
            class="contactImgs"
            *ngIf="!showHead"
          />
          <img
            src="assets/images/VectorW.png"
            alt=""
            class="contactImgs"
            *ngIf="showHead"
          />
        </div>
      </div>
      <div class="col-md-4 my-2">
        <div
          class="contactDiv d-flex justify-content-center align-items-center gap-2"
          (mouseenter)="showLine = true"
          (mouseleave)="showLine = false"
        >
          <p class="contactText" [ngStyle]="{ 'text-align': 'end' }">
            info@talata-eg.com
          </p>
          <img
            src="assets/images/line-md_email.png"
            alt=""
            class="contactImgs"
            *ngIf="!showLine"
          />
          <img
            src="assets/images/line-md_emailw.png"
            alt=""
            class="contactImgs"
            *ngIf="showLine"
          />
        </div>
      </div>

      <div class="col-md-4 my-2">
        <div
          class="contactDiv d-flex justify-content-center align-items-center gap-2"
          (mouseenter)="showVictor = true"
          (mouseleave)="showVictor = false"
        >
          <p class="contactText" style="direction: rtl; text-align: start">
            {{ "address" | translate }}
          </p>
          <img
            src="assets/images/Vector.png"
            alt=""
            class="contactImgs"
            *ngIf="!showVictor"
          />
          <img
            src="assets/images/Vectorrr.png"
            alt=""
            class="contactImgs"
            *ngIf="showVictor"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center" *ngIf="currentLang == 'ar'">
    <div class="col-12 row justify-content-center" style="width: 95%">
      <div class="col-md-4 my-2">
        <div
          class="contactDiv d-flex justify-content-center align-items-center gap-2"
          (mouseenter)="showVictor = true"
          (mouseleave)="showVictor = false"
        >
          <img
            src="assets/images/Vector.png"
            alt=""
            class="contactImgs"
            *ngIf="!showVictor"
          />
          <img
            src="assets/images/Vectorrr.png"
            alt=""
            class="contactImgs"
            *ngIf="showVictor"
          />
          <p class="contactText" style="direction: ltr; text-align: start">
            {{ "address" | translate }}
          </p>
        </div>
      </div>

      <div class="col-md-4 my-2">
        <div
          class="contactDiv d-flex justify-content-center align-items-center gap-2"
          (mouseenter)="showLine = true"
          (mouseleave)="showLine = false"
        >
          <img
            src="assets/images/line-md_email.png"
            alt=""
            class="contactImgs"
            *ngIf="!showLine"
          />
          <img
            src="assets/images/line-md_emailw.png"
            alt=""
            class="contactImgs"
            *ngIf="showLine"
          />
          <p class="contactText" [ngStyle]="{ 'text-align': 'end' }">
            info@talata-eg.com
          </p>
        </div>
      </div>

      <div class="col-md-4 my-2">
        <div
          class="contactDiv d-flex justify-content-center align-items-center gap-2"
          (mouseenter)="showHead = true"
          (mouseleave)="showHead = false"
        >
          <img
            src="assets/images/Vectorr.png"
            alt=""
            class="contactImgs"
            *ngIf="!showHead"
          />
          <img
            src="assets/images/VectorW.png"
            alt=""
            class="contactImgs"
            *ngIf="showHead"
          />
          <p
            class="contactText"
            [ngStyle]="{ 'text-align': 'end', direction: 'ltr' }"
          >
            +2 0111 0222 620 / 0222664199
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>


