::ng-deep .confirm {
  button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
    padding: 12px 47px;
    margin-right: 5px;
    display: flex;
    width: 100%;

}
.p-button:disabled {
  padding: 12px 47px;
  margin-right: 5px;
  display: flex;
  width: 100%;


}
width: 100%;
}
::ng-deep .p-dialog .p-dialog-content {
  background: #ffffff;
  color: #495057;
  padding: 1px 22px 1rem;
}
