@media (min-width: 768px) {
  body {
    padding-top: 60px; /* Adjust based on your toolbar height for larger screens */
  }
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #f8f9fa; /* Light sidebar background color */
  padding-top: 56px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.shadowNav {
  box-shadow: 0 2px 2px -2px gray;
}

.active-link {
  background-color: #287fff; /* Set your preferred background color for the active link */
  color: #fff !important; /* Set your preferred text color for the active link */
  border-radius: 7px;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  color: #495057; /* Dark text color for better readability on light background */
  display: block;
}

.content {
  margin-left: 250px; /* Adjust based on your sidebar width */
  padding: 20px;
}
@media (min-width: 768px) {
  body {
    padding-top: 60px; /* Adjust based on your toolbar height for larger screens */
  }
}

.navbar {
  background-color: #e9ecef; /* Light toolbar background color */
  display: block;
}
::ng-deep {
  .menuCont {
    .p-button .p-button-icon-left {
      display: none;
    }
  }
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #287fff !important; /* Dark text color for better readability on light background */
}
.navCont {
  padding: 0px 50px;
}

.navbar-toggler-icon {
  background-color: #495057; /* Dark color for the navbar toggler icon */
}
.companyLogo {
  height: 105px;
  width: 237px;
}
