/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
background-color: #FDFDFD;
padding: 0;
margin: 0;
}

* {
  hr {
    margin: 0.3rem 0 !important;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;

  }

}
 .parent {
  p-table {
    padding: 0;
  }


  .pointer {
    cursor: pointer;
  }
  .p-password {
    position: relative;
    display: inline-flex;
    width: 100% !important;
    min-width: 100% !important;
  }
  .p-datatable .p-datatable-thead > tr > th {
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;

  }
  .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 0.3rem 1rem;
    font-size: 13px;
}

.p-input-icon-right > .p-inputtext {
  padding-right: 2rem;
  width: 100% !important;
}
  .p-inputtext {
    margin: 0;
    width: 235px;
    border-radius: 7px;
    width: 100% !important;
  }
  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    padding: 7px 31px;
    font-weight: 500;
}
.bordered-table {
  border: 1px solid #f4f2f2;
}
.head {
  color: #a1a5b7;
  font-weight: 500;
}
}

/* For Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4E328A; /* Color of the scrollbar handle */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f4499; /* Color of the scrollbar handle when hovered */
  border-radius: 5px;

}
