<div
  [dir]="direction"
  class="container-fluid mainContainer"
  style="width: 100%"
>
  <div class="row navbar fixed-top" *ngIf="!smallScreen">
    <div class="col-md-8 menuCont d-flex align-items-center">
      <a class="items" id="en" (click)="switchLanguage()">
        {{ currentLang == "en" ? "EN" : "عربي" }}</a
      >
      <a
        class="items"
        id="sends"
        (click)="change('sends')"
        href="#sendShipment"
        style="width: auto"
        >{{ "SendShipment" | translate }}</a
      >
      <a
        class="items"
        id="contacts"
        (click)="change('contacts')"
        href="#contact"
        style="width: auto"
        >{{ "contact" | translate }}</a
      >
      <a
        class="items"
        id="area"
        (click)="change('area')"
        href="#areas"
        style="width: auto"
        >{{ "places" | translate }}</a
      >
      <a
        class="items"
        id="goal"
        (click)="change('goal')"
        href="#goals"
        style="width: auto"
        >{{ "goals" | translate }}</a
      >
      <a
        class="items"
        id="about"
        (click)="change('about')"
        href="#aboutCompany"
        style="width: auto"
      >
        {{ "aboutUs" | translate }}</a
      >
      <a
        class="items"
        id="adv"
        (click)="change('adv')"
        href="#advantages"
        style="width: auto"
        >{{ "Benefits" | translate }}</a
      >
      <a
        class="items"
        id="choice"
        (click)="change('choice')"
        href="#us"
        style="width: auto"
        >{{ "whyTalata" | translate }}</a
      >
      <a
        class="items itemsActive"
        id="main"
        (click)="change('main')"
        href="#global"
        style="width: auto"
        >{{ "main" | translate }}</a
      >
    </div>
    <div class="col-md-3 d-flex align-items-center justify-content-center">
      <img
        src="assets/images/talata-logo-horizontal.png"
        alt=""
        style="width: 224.59px; height: 67.55px"
      />
    </div>
  </div>

  <app-main></app-main>


</div>
