<div class="contTerms d-flex justify-content-center">
  <p class="terms">{{'terms_and_conditions' | translate}}</p>
</div>

<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'servicesProvided.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'servicesProvided.content' | translate}}
  </p>

</div>
<!--  -->

<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'responsibilities.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'responsibilities.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'paymentAndInvoices.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'paymentAndInvoices.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'liabilityForDamage.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'liabilityForDamage.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'cancellationAndRefund.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'cancellationAndRefund.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'rightsAndLicenses.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'rightsAndLicenses.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'modificationOfTerms.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'modificationOfTerms.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'applicableLaw.head' | translate}}</p>
  </div>
  <p class="textsOfConditions m-0">
    {{'applicableLaw.content' | translate}}
  </p>

</div>
<!--  -->
<div class="my-4 parentOfCond" style="margin-left: 230px;margin-right: 230px;" [ngStyle]="{'direction' : currentLang == 'ar' ?'ltr' : 'rtl'}" >
  <div>
    <p class="headOfConditions m-0">{{'disclaimerOfShipments.head' | translate}}</p>
  </div>
  <ul>
    <li> <p class="textsOfConditions m-0">
      {{'disclaimerOfShipments.content1' | translate}}
    </p></li>
    <li> <p class="textsOfConditions m-0">
      {{'disclaimerOfShipments.content2' | translate}}
    </p></li>
  </ul>


</div>
<!--  -->

