
.contTerms {
  margin-top: 120px;
}
.terms {
  font-size: 60px;
  font-weight: 300;
  font-family: "Almarai", sans-serif;
  color: #4e425c;
}
.headOfConditions{
  font-weight: 700;
  font-family: "Almarai", sans-serif;
  color: #726581;
  font-size: 17px  ;

}
.textsOfConditions {
  font-weight: 500;
  font-family: "Almarai", sans-serif;
  color: #726581;
  font-size: 15px  ;
  
}
